.footer{
    background: $navy;
    color: $wh;
    font-size: 8pt;
    padding: 15px;
    text-align: center;
    p{
        text-transform: uppercase;
        padding-bottom: 8px;
    }
    .c-right{
        padding-top: 7px;
        display: inline-block;
    }
    a{
        color: $wh;
        border-right: 1px solid #f4f4f4;
        line-height: 0.8;
        padding: 0 10px;
        display: inline-block;
        &:last-child{
            border-right: none;
        }
        &:first-child{
            padding-left: 0;
        }
    }
    @include viewport(small){
        padding: 17px 0;
        font-size: 10pt;
        text-align: left;
        .c-right{
            float: right;
            padding: 0;
        }
    }
}