/************ Colors ************/
$wh: #f4f4f4;
$black:#333333;
$yellow:#FECD04;
$navy:#2C4089;
$brown:#635956;
$gray:#777777;
$lightGray:#ccc;

/*********** ViewPort ***********/
$breakpoints: ( 
    "tiny" : 480px,
    "small" : 768px,
    "medium": 992px,
    "large" : 1280px,
    "extra" : 1920px );

@mixin viewport($size, $base: up) {
    $range: map-get($breakpoints, $size);

    @if $range != null {
        @if $base == up {
            @media only screen and (min-width: nth($range, 1)) {
                @content;
            }
        }
        @else {
            @media only screen and (min-width: nth($range, 1)) and (max-width: nth($range, 2)) {
                @content;
            }
        }
    }
}